body {
  background-color: #4169E1;
}
.App {
  text-align: center;
  display : flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto; */
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MovieCard {
  background-color: black !important;
  width: 620px;
  display: flex;
  margin : 10px;
}

.imgMovie {
  width: 250px;
  height: 400px;
}
.h1t { 
  color: white;
  font-size: 36pt;
  text-align: center;
}

.ptext {
  color : white ;
  font-size: 10pt;
 padding: 10px;
}
h1 
{
  color :brown;
  text-align: center;
  margin: 50px;
}
.search
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.spInput {
  margin-right : 10px !important;
}

.Sub {
  margin : 10px;
  text-align: center;
}

.rad {
 margin-right: 20px; 
}

.trailer
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items:center;

}
.ptrailer {
  padding: 20px;
  color: white;
  text-align: justify;
}